<div class="page-content page-container h-100" id="page-content">
  <div class="padding h-100 justify-content-center">
    <div class="row container d-flex justify-content-center w-100 h-100" style="margin: auto; max-width: 600px;">
      <div class="col-md-6 h-100 w-100">
        <div class="card card-bordered h-100">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <img
                      class="avatar"
                      src="./../../assets/file.enc"
                      alt="..."
                    />
              <h4 class="card-title px-3"><strong>Betina - Banco de Dados</strong></h4>
            </div>
            <a style="cursor: pointer;" class="excluir" (click)="limpar()"
              ><i class="bi bi-trash3 fs-5 p-1"></i></a
            >
          </div>

          <div class="loader" *ngIf="this.loading" style="z-index: 9999999999;">
            <div class="inner one"></div>
            <div class="inner two"></div>
            <div class="inner three"></div>
          </div>

          <div
            style="background: url('./../../assets/wpp-noturno.jpg');"
            class="ps-container ps-theme-default ps-active-y h-80"
            id="chat-content"
            style="overflow-y: scroll !important; height: inherit;"
          >
            <div  *ngFor="let message of this.messages" [ngClass]="message.role === 'assistant' ? '' : 'media media-chat media-chat-reverse d-flex'">

              <div *ngIf="message.role === 'assistant'">
                <div class="media media-chat d-flex">
                  <img
                    class="avatar"
                    src="./../../assets/file.enc"
                    alt="..."
                  />
                  <div class="media-body">
                    <p class="break-line">{{message.content.replaceAll('\\n', '\n')}}</p>
                    <p *ngIf="message.isRespostaVerificada" class="meta">Resposta verificada ✅</p>
                  </div>
                </div>
              </div>

              <div *ngIf="message.role === 'user'">
                <div class="media media-chat d-flex">
                  <div class="media-body media-body-user">
                    <p class="break-line">{{message.content}}</p>
                    <!-- <p class="meta"><time datetime="2023">{{time}}</time></p> -->
                  </div>
                </div>
              </div>

            </div>

            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px">
              <div
                class="ps-scrollbar-x"
                tabindex="0"
                style="left: 0px; width: 0px"
              >

            </div>
            </div>
            <div
              class="ps-scrollbar-y-rail"
              style="top: 0px; height: 0px; right: 2px"
            >
              <div
                class="ps-scrollbar-y"
                tabindex="0"
                style="top: 0px; height: 2px"
              ></div>
            </div>
          </div>

          <div class="publisher bt-1 border-light form-group">
            <input
              #input
              id="input"
              class="publisher-input form-control"
              type="text"
              placeholder="Mensagem"
              (keydown.enter)="enviar()"
            />
            <button class="publisher-btn text-info" (click)="enviar()"
              ><i class="bi bi-send-fill fs-4"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
