/* 
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #292929 !important;
}


.card-bordered {
  border: 1px solid #292929;
}

.card {
  font-size: 14px !important;
  border: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0 4px 6px rgba(0,0,0,0.03);
  box-shadow: 0 4px 6px rgba(0,0,0,0.03);
  -webkit-transition: .5s;
  transition: .5s;
  background: url('/assets/wpp-noturno.jpg');
}

.break-line {
  white-space: pre-wrap;
}

body {
  background-color: #f9f9fa;
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}


.card-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 10px;
  background-color: #3b3b3b;;
  border-bottom: 1px solid rgba(77,82,89,0.07);
}

.card-header .card-title {
  padding: 0;
  border: none;
}

h4.card-title {
  font-size: 16px;
}

.card-header>*:last-child {
  margin-right: 0;
}

.card-header>* {
  margin-left: 8px;
  margin-right: 8px;
}

.btn-secondary {
  color: #4d5259 !important;
  background-color: #25D366;
  border-color: #16e060;
  color: #fff;
}

.btn-xs {
  font-size: 12px;
  padding: 2px 8px;
  line-height: 18px;
}
.btn-xs:hover{
  color:#fff !important;
}


.card-title {
  font-family: Roboto,sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(77,82,89,0.07);
}


.ps-container {
  position: relative;
}

.ps-container {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden!important;
  -ms-overflow-style: none;
}

.media-chat {
  padding-right: 64px;
  margin-bottom: 0;
}

.media {
  padding: 5px !important;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.media .avatar {
  flex-shrink: 0;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 100%;
  background-color: #f5f6f7;
  color: #8b95a5;
  text-transform: uppercase;
}

.media-chat .media-body {
  -webkit-box-flex: initial;
  flex: initial;
  display: table;
}

.media-body {
  min-width: 0;
}

.media-body-user {
  margin-left: auto !important;
}

.media-chat .media-body p {
  position: relative;
  padding: 5px 7px;
  margin: 3px 0;
  background-color: #f5f6f7;
  border-radius: 6px;
  font-weight: 100;
  color:#3a3a3a;
}

.media>* {
  margin: 0 8px;
}

.media-chat .media-body p.meta {
  background-color: transparent !important;
  color: #8b95a5 !important;
  padding: 0;
  opacity: .8;
}

.media-meta-day {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0;
  color: #8b95a5;
  opacity: .8;
  font-weight: 400;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.media-meta-day::before {
  margin-right: 16px;
}

.media-meta-day::before, .media-meta-day::after {
  content: '';
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 1px solid #5e5e5e;
}

.media-meta-day::after {
  content: '';
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 1px solid #5e5e5e;
}

.media-meta-day::after {
  margin-left: 16px;
}

.media-chat.media-chat-reverse {
  padding-right: 12px;
  padding-left: 64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.media-chat {
  padding-right: 64px;
  margin-bottom: 0;
}

.media {
  padding: 14px 10px;
  -webkit-transition: background-color .9s linear !important;
  transition: background-color .9s linear !important;
}

.media-chat.media-chat-reverse .media-body p {
  float: right;
  clear: right;
  background-color: #128C7E;
  color: #fff;
  font-weight: 400;
}

.media-chat .media-body p {
  position: relative;
  padding: 7px 12px;
  margin: 4px 0;
  background-color: #5e5e5e;
  color: #ffffff;
  font-weight: 400;
  border-radius: 3px;
}


.border-light {
  border-color: #c6c6c6 !important;
}

.bt-1 {
  border-top: 1px solid #ebebeb !important;
}

.radius {
  border-radius: 20px !important;
}

.radius-top {
  border-radius: 20px 20px 0px 0px !important;
}

.publisher {
  margin: 5px 6px;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  border-radius: 50px;
  align-items: center;
  padding: 0px 10px;
  background-color: #494949;
}

.publisher>*:first-child {
  margin-left: 0;
}

.publisher>* {
  margin: 0 8px;
}

.publisher-input {
  -webkit-box-flex: 1;
  flex-grow: 1;
  border: none;
  color: #ffffff !important;
  font-weight: 400;
  outline: none !important;
  background-color: transparent !important;
}

input:focus {
  border-color: none !important;
  box-shadow: none !important;
}

::placeholder {
  color: rgb(204, 204, 204) !important;
  opacity: 1; 
  font-size: 14px;
}

button, input, optgroup, select, textarea {
  font-family: Roboto,sans-serif;
  font-weight: 300;
}

.publisher-btn {
  background-color: transparent;
  border: none;
  color: #8b95a5;
  font-size: 14px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.file-group {
  position: relative;
  overflow: hidden;
}

.publisher-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.file-group input[type="file"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 20px;
}

.text-info {
  color: #25D366 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #535353;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #128C7E;
}

.excluir {
  color: #25D366;
}

:root {
  --duration: 1.5s;
  --container-size: 250px;
  --box-size: 33px;
  --box-border-radius: 15%;
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #25D366;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #25D366;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #25D366;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
 */

.joinha {
  cursor: pointer;
  color: rgb(141, 141, 141);
}

.joinha:hover {
  color: rgb(218, 218, 218);
}

 .betina-container {
  display: flex;
  justify-content: center;
}


.betina {
  font-size: 4.5rem;
  margin-bottom: 20px;
  color: white;
}

*, ::after, ::before {
  box-sizing: initial;
}

#search-bar, #buttons, #language{
  display: grid;
  place-items: center;
}

#buttons{
  margin-top: 20px;
  margin-bottom: -15px;
}

ul{
  list-style: none;
}

input[type="text"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Estilos para remover o 'X' do input em outros navegadores */
input[type="text"] {
  appearance: none;
}

.form{
  width: 42rem;
  border: #bdc1c6 1px solid;
  border-radius: 1.875rem;
  background-color: white; 
  display: flex;
  input{
    width: 36.875rem;
    height: 2.625rem;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    appearance: none !important;
    -webkit-appearance: none !important;
  }
}

body {
  background-color: rgb(53, 53, 53);
}

#search-icon{
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.75rem;
  margin-left: 1.125rem;
  padding-right: 0.9275rem;
}

#keyboard-icon{
  width: 24px;
  height: 24px;
  margin-top: 0.5625rem;
  margin-right: 1.25rem;
  padding-left: 0.9275rem;
  color: rgb(114, 114, 114);
  cursor: pointer;
}

#loading-icon{
  margin-top: 0.5625rem;
  margin-right: 1.25rem;
  padding-left: 0.9275rem;
  color: rgb(114, 114, 114);
  cursor: pointer;
}

p{
  margin-top: 2.1875rem;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

span{
  color: blue;
  cursor: pointer;
}

.sql-viewer {
  width: 40rem;
  margin: 5px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #26282e; /* Cor de fundo semelhante ao Visual Studio Code */
}

.sql-header {
  color: #d4d4d4; /* Cor do texto do cabeçalho semelhante ao Visual Studio Code */
  font-size: 1.2em;
  margin-bottom: 10px;
}

.sql-code {
  color: #abb2bf; /* Cor do texto do código semelhante ao Visual Studio Code */
 
  border-radius: 5px;
  overflow-x: auto;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*!
  Theme: Dracula
  Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
/*
  WARNING: DO NOT EDIT THIS FILE DIRECTLY.

  This theme file was auto-generated from the Base16 scheme dracula
  by the Highlight.js Base16 template builder.

  - https://github.com/highlightjs/base16-highlightjs
*/
/*
base00  #282936  Default Background
base01  #3a3c4e  Lighter Background (Used for status bars, line number and folding marks)
base02  #4d4f68  Selection Background
base03  #626483  Comments, Invisibles, Line Highlighting
base04  #62d6e8  Dark Foreground (Used for status bars)
base05  #e9e9f4  Default Foreground, Caret, Delimiters, Operators
base06  #f1f2f8  Light Foreground (Not often used)
base07  #f7f7fb  Light Background (Not often used)
base08  #ea51b2  Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
base09  #b45bcf  Integers, Boolean, Constants, XML Attributes, Markup Link Url
base0A  #00f769  Classes, Markup Bold, Search Text Background
base0B  #ebff87  Strings, Inherited Class, Markup Code, Diff Inserted
base0C  #a1efe4  Support, Regular Expressions, Escape Characters, Markup Quotes
base0D  #62d6e8  Functions, Methods, Attribute IDs, Headings
base0E  #b45bcf  Keywords, Storage, Selector, Markup Italic, Diff Changed
base0F  #00f769  Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
*/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
.hljs {
  color: #e9e9f4;
  background: #282936
}
.hljs::selection,
.hljs ::selection {
  background-color: #4d4f68;
  color: #e9e9f4
}
/* purposely do not highlight these things */
.hljs-formula,
.hljs-params,
.hljs-property {
  
}
/* base03 - #626483 -  Comments, Invisibles, Line Highlighting */
.hljs-comment {
  color: #626483
}
/* base04 - #62d6e8 -  Dark Foreground (Used for status bars) */
.hljs-tag {
  color: #62d6e8
}
/* base05 - #e9e9f4 -  Default Foreground, Caret, Delimiters, Operators */
.hljs-subst,
.hljs-punctuation,
.hljs-operator {
  color: #e9e9f4
}
.hljs-operator {
  opacity: 0.7
}
/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
  color: #ea51b2
}
/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
  color: #b45bcf
}
/* base0A - Classes, Markup Bold, Search Text Background */
.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #00f769
}
.hljs-strong {
  font-weight: bold;
  color: #00f769
}
/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
  color: #ebff87
}
/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
/* guessing */
.hljs-built_in,
.hljs-doctag,
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
  color: #a1efe4
}
/* base0D - Functions, Methods, Attribute IDs, Headings */
.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
  color: #62d6e8
}
/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
/* .hljs-selector-id, */
/* .hljs-selector-class, */
/* .hljs-selector-attr, */
/* .hljs-selector-pseudo, */
.hljs-type,
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
  color: #b45bcf
}
.hljs-emphasis {
  color: #b45bcf;
  font-style: italic
}
/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
/*
  prevent top level .keyword and .string scopes
  from leaking into meta by accident
*/
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #00f769
}
/* for v10 compatible themes */
.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: bold
}