@use "@angular/material" as mat;
@use "sass:map";

@include mat.core();

$primary-palette: (
  50: #dfebfe,
  100: #aecefd,
  200: #7ab7fc,
  300: #41a1fb,
  400: #0075fa,
  500: #0081f9,
  600: #ab00fa,
  700: #8a00fb,
  800: #7500fb,
  900: #4c00fc,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);

$accent-palette: (
  50: #ededed,
  100: #d1d1d1,
  200: #b7b1b2,
  300: #9f9093,
  400: #8e767b,
  500: #7c5e64,
  600: #6f555a,
  700: #5e494e,
  800: #4e3d42,
  900: #3d3035,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: white,
  ),
);

$warn-palette: (
  50: #fde6ec,
  100: #fac0d1,
  200: #f898b2,
  300: #f57094,
  400: #f1557d,
  500: #ee4267,
  600: #dd3d64,
  700: #c6385f,
  800: #b1335b,
  900: #8c2b52,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$app-primary: mat.define-palette($primary-palette, 400, 100, 600);
$app-accent: mat.define-palette($accent-palette, 500, 800, 900);
$app-warn: mat.define-palette($warn-palette, 500);

$light-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

$dark-app-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

// In this source, the dark and light colors are the same, but this mixin
// allows generation of different colors for dark and light themes.
@mixin theme-colors($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");
  $is-dark-theme: map.get($color-config, "is-dark");

  --app-primary-color: #{mat.get-color-from-palette($primary-palette, 400)};
  --app-accent-color: #{mat.get-color-from-palette($accent-palette, 500)};
  --app-warn-color: #{mat.get-color-from-palette($warn-palette, 500)};
}

:root {
  @include mat.all-component-themes($dark-app-theme);
  @include theme-colors($dark-app-theme);
}

.light {
  @include mat.all-component-colors($light-app-theme);
  @include theme-colors($light-app-theme);
}

.dark-theme {
  .text-muted {
    color: #dadada !important;
  }
  .text-truncate {
    color: #ffffff !important;
  }
}

html, body {
  background-color: rgb(53, 53, 53);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*, ::after, ::before {
  box-sizing: initial;
}

#search-bar, #buttons, #language{
  display: grid;
  place-items: center;
}

#buttons{
  margin-top: 20px;
  margin-bottom: -15px;
}

ul{
  list-style: none;
}

input[type="text"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Estilos para remover o 'X' do input em outros navegadores */
input[type="text"] {
  appearance: none;
}

p{
  margin-top: 2.1875rem;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

span{
  color: blue;
  cursor: pointer;
}

.sql-viewer {
  width: 39rem;
  margin: 5px;
  padding: 20px;
  background-color: #20152e; /* Cor de fundo semelhante ao Visual Studio Code */
  border: 1px solid transparent; /* Define uma borda transparente */
  border-image: linear-gradient(to right, #5b02cf, #00ffff) 1;
  border-radius: 5px;
}

.sql-header {
  color: #d4d4d4; /* Cor do texto do cabeçalho semelhante ao Visual Studio Code */
  font-size: 1.2em;
  margin-bottom: 10px;
}

.sql-code {
  color: #abb2bf; /* Cor do texto do código semelhante ao Visual Studio Code */
 
  border-radius: 5px;
  overflow-x: auto;
}

.break-line {
  white-space: pre-wrap;
}

@media screen and (max-width: 768px) {
  .sql-viewer {
    width: 32rem;
  }
}

@media screen and (max-width: 600px) {
  .sql-viewer {
    width: 27rem;
  }
}

@media screen and (max-width: 500px) {
  .sql-viewer {
    width: 22rem;
  }
}

@media screen and (max-width: 430px) {
  .sql-viewer {
    width: 17rem;
  }
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

code.hljs {
  padding: 3px 5px
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

code.hljs {
  padding: 3px 5px
}
/*!
  Theme: Dracula
  Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
/*
  WARNING: DO NOT EDIT THIS FILE DIRECTLY.

  This theme file was auto-generated from the Base16 scheme dracula
  by the Highlight.js Base16 template builder.

  - https://github.com/highlightjs/base16-highlightjs
*/
/*
base00  #282936  Default Background
base01  #3a3c4e  Lighter Background (Used for status bars, line number and folding marks)
base02  #4d4f68  Selection Background
base03  #626483  Comments, Invisibles, Line Highlighting
base04  #62d6e8  Dark Foreground (Used for status bars)
base05  #e9e9f4  Default Foreground, Caret, Delimiters, Operators
base06  #f1f2f8  Light Foreground (Not often used)
base07  #f7f7fb  Light Background (Not often used)
base08  #ea51b2  Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
base09  #b45bcf  Integers, Boolean, Constants, XML Attributes, Markup Link Url
base0A  #00f769  Classes, Markup Bold, Search Text Background
base0B  #ebff87  Strings, Inherited Class, Markup Code, Diff Inserted
base0C  #a1efe4  Support, Regular Expressions, Escape Characters, Markup Quotes
base0D  #62d6e8  Functions, Methods, Attribute IDs, Headings
base0E  #b45bcf  Keywords, Storage, Selector, Markup Italic, Diff Changed
base0F  #00f769  Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
*/

.hljs {
  color: #e9e9f4;
  background: #282936
}
.hljs::selection,
.hljs ::selection {
  background-color: #4d4f68;
  color: #e9e9f4
}

/* base03 - #626483 -  Comments, Invisibles, Line Highlighting */
.hljs-comment {
  color: #626483
}
/* base04 - #62d6e8 -  Dark Foreground (Used for status bars) */
.hljs-tag {
  color: #62d6e8
}
/* base05 - #e9e9f4 -  Default Foreground, Caret, Delimiters, Operators */
.hljs-subst,
.hljs-punctuation,
.hljs-operator {
  color: #e9e9f4
}
.hljs-operator {
  opacity: 0.7
}
/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
  color: #ea51b2
}
/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
  color: #b45bcf
}
/* base0A - Classes, Markup Bold, Search Text Background */
.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #00f769
}
.hljs-strong {
  font-weight: bold;
  color: #00f769
}
/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
  color: #ebff87
}
/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
/* guessing */
.hljs-built_in,
.hljs-doctag,
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
  color: #a1efe4
}
/* base0D - Functions, Methods, Attribute IDs, Headings */
.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
  color: #62d6e8
}
/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
/* .hljs-selector-id, */
/* .hljs-selector-class, */
/* .hljs-selector-attr, */
/* .hljs-selector-pseudo, */
.hljs-type,
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
  color: #b45bcf
}
.hljs-emphasis {
  color: #b45bcf;
  font-style: italic
}
/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
/*
  prevent top level .keyword and .string scopes
  from leaking into meta by accident
*/
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #00f769
}
/* for v10 compatible themes */
.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: bold
}
